
iitd/Assignment 4/.ipynb_checkpoints/Assignment_4-checkpoint.ipynb
iitd/Assignment 5/.ipynb_checkpoints/Assignment_5-checkpoint.ipynb
iitd/Assignment 6/.ipynb_checkpoints/Sol-checkpoint.ipynb
encoding.ipynb
*.zip
